body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 10px;
    padding: 0;
    display: flex;
}

.menu {
    width: 800px;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 4em;
}

.para {
    margin: 10px 0 20px;
    font-size: 1.5rem;
    color: #fff;
}

section h3 {
    font-size: 1.5em;
    color: #000;
    font-weight: 750;
    background-color: #be662b;
    padding: 10px;
    border-radius: 40px;
    display: inline-block;
    margin: 0 auto 20px;
}

.section {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.section ul {
    list-style-type: none;
    margin: 0px 70px 0px 70px;
    padding: 0px;
    text-align: left;
    flex: 2;
}

.section ul li {
    font-size: 1.2em;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.images {
    background-color: #be662b;
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 50% 0 0 50%;
}

.images1 {
    background-color: #be662b;
    width: 220px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 0 50% 50% 0;
}

.image-container {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 80%;
    margin: 0 20px;
}

.main-course-image {
    background-image: url('Main.png');
    order: -1;
}

.appetizers-image {
    background-image: url('appetizers.png');
}

.beverages-image {
    background-image: url('beverages.png');
    order: -1;
}

.beverages-image {
    background-image: url('beverages.png');
}

.contact {
    display: flex;
    padding-left: 50px;
}

.contact p {
    background-color: #be662b;
    font-weight: 700;
    color: #000;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    margin: 0 auto 20px;
}